load_pickle.pickle
load.csv
loading_data.ipynb
Diabetes.csv
clean_diabetes.csv
prepare_data.ipynb
outlier_1d.txt
outlier_2d.txt
outlier_curve.txt
example_1.txt
example_2.txt
histograms.ipynb
Outliers.zip
Outliers.ipynb
height_weight.csv
